/*---------- NAVBAR ----------*/

.navbar,
.container-fluid {
    background: none!important;
}

ul.nav {
    background: #000;
    border-radius: 2px;
}

@media screen and (max-width: 970px) {
    ul.nav {
        padding: 0px;
    }
    .navbar,
    .container-fluid {
        background: #000!important;
    }
}


/*---------NAVBAR END ---------*/


/*------SORTING BTN------*/

.sort-btn {
    border-bottom: solid #000;
    border-width: 2px;
    padding: 0px;
    margin: 2px 0;
}

.sort-btn:hover,
.sort-btn:active {
    border-color: #fff;
}

.sort-active {
    border-color: #fff!important;
}


/*----END SORTING BTN----*/

@media screen and (max-width: 970px) {
    .category {
        font-size: 20px;
        margin-left: -240%;
        width: 400%;
    }
}


/*---TRIANGLE FOR CAT---*/

.triangle {
    font-size: 10px;
    margin-top: -1px;
}


/*-------END OF TRIANGLE-------*/
