<div class="col-lg-12 default-div" id="admin_manage_product" >
	<table class="table">
		<thead>
			<tr>
				<th ng-click="ctrl.orderBy('title', false)">Produktnamn</th>
				<th ng-click="ctrl.orderBy('supplier', false)">Leverantör</th>
				<th >Bild</th>
                <th ng-click="ctrl.orderBy('likeAmount', true)">Intresse</th>
                <th></th>
                
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in ctrl.products | orderBy: ctrl.currentOrder:ctrl.reverseOrder">
				<td>{{ product.title }}</td>
				<td>{{ product.supplier }}</td>
				<td class="add-prod-img">
  					<a ng-show="product.image" href="{{ctrl.matentusServer}}/images/{{product.image}}">
  						<img src="{{ctrl.matentusServer}}/images/{{product.image}}" alt="" class="img-thumbnail">
  					</a>
  					<a ng-show="!product.image" href="{{ctrl.matentusServer}}/images/img-placeholder.jpg">
  						<img src="{{ctrl.matentusServer}}/images/img-placeholder.jpg" alt="" class="img-thumbnail">
  					</a>
				</td>
                <td>
                    <p ng-click="ctrl.setCurrentProduct(product); ctrl.getEmailList()" 
  				  		data-toggle="modal" 
  				  		data-target="#modal-emaillist-product"
   				  		class="likes-admin">		
                    {{ product.likeAmount }} 
                    <i class="fa fa-download" aria-hidden="true"></i></p>
                </td>
				<td>
  				  	<p 
  				  		ng-click="ctrl.setCurrentProduct(product)" 
  				  		data-toggle="modal" 
  				  		data-target="#modal-delete-product"
   				  		class="change"> 
  						<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
  					</p>  
  				  	<p 
  				  		ng-click="ctrl.setCurrentProduct(product)" 
  				  		data-toggle="modal" 
  				  		data-target="#modal-change-product"
  				  		class="change">
  						<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
  					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>



<!-- Change product modal -->
<div class="modal fade" id="modal-change-product" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content" style="border-radius: 0">  

		<form 
			name="ctrl.form" 
			class=" col-lg-10 col-lg-offset-1 admin_div" 
			id="admin-add-product" 
			data-toggle="validator" 
			role="form"
			style="padding-top: 20px"> 

				<!-- Input title -->
				<div class="form-group col-lg-12">
					<label 
						for="inputTitle" 
						class="control-label">
						Titel
					</label>
					<input  
						type="text"
						name="product-name"  
						class="form-control" 
						ng-model="ctrl.currentProduct.title" 
						id="inputTitle" 
						maxlength="30" 
						required 
					/>
				</div>

				<!-- Input description -->
				<div class="form-group col-lg-12">
					<label 
						for="inputDescription" 
						class="control-label">
						Beskrivning
					</label>
					<textarea   
						name="product-description"  
						class="form-control"    
						ng-model="ctrl.currentProduct.description" 
						rows="5" 
						id="inputDescription" 
						maxlength="500" 
						required>    
					</textarea>
				</div>

				<!-- Choose category -->
				<div class="form-group col-lg-12">
					<label 
						for="select-main-cat">
						Kategori
					</label>
					<select   
						name="product-category" 
						ng-options="category.id as category.title for category in ctrl.categories" 
						ng-model="ctrl.currentProduct.category_id" 
						class="form-control" 
						id="select-main-cat"
						required>
						<option value=""></option>
					</select>
				</div>

				<!-- Input keyword -->
				<div class="form-group col-lg-12">
					<label 
						for="distributor">
						Nyckelord
					</label>
					<angucomplete-alt
						name="product-keyword"
						pause="100"
						selected-object="selected"
						ng-model="ctrl.currentProduct.keyword"
						local-data="ctrl.keywords"
						search-fields="keyword"
						title-field="keyword"
						minlength="0"
						input-class="form-control form-control-small"
					/>
				</div>

				<!-- Input supplier -->
				<div class="form-group col-lg-12">
					<label 
						for="distributor">
						Leverantör
					</label>
					<angucomplete-alt
						name="product-supplier"
						pause="100"
						selected-object="selected"
						ng-model="ctrl.currentProduct.supplier"
						local-data="ctrl.suppliers"
						search-fields="supplier"
						title-field="supplier"
						minlength="0"
						input-class="form-control form-control-small"
					/>
				</div>

				<!-- Choose image file -->
				<div class="form-group col-lg-12" id="image-upload">
					<label 
						for="image-upload">
						Bilduppladdning
					</label>
					<input 
						name="product-file"  
						id="file"
						type="file" 
						accept="image/*" 
						file-model="ctrl.currentProduct.file" 
						class="form-control-file mt-10" 
						aria-describedby="fileHelp" 
					/>
					<small 
						id="fileHelp" 
						class="form-text text-muted">
						Bilden bör vara bredare än 450px.
					</small>
				</div>
		</form>

	    <div class="modal-footer">
	    	<button 
	        	ng-click="ctrl.updateProduct()"
				ng-disabled="ctrl.form.$invalid"
				class="btn btn-success"
				data-dismiss="modal">
				Uppdatera
			</button>
	       	<button 
	       		ng-click="ctrl.dismissProduct()"
				ng-disabled="ctrl.form.$invalid"
				class="btn btn-warning"
				data-dismiss="modal">
				Lägg tillbaka som förslag
			</button>
			<button 
				type="button" 
				class="btn btn-primary" 
				data-dismiss="modal">
				Stäng
			</button>
	    </div>

    </div>
  </div>
</div>
<!-- End of change product modal -->

<!-- Delete product modal -->
<div class="modal fade" id="modal-delete-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 20px">
	        <h2 style="margin-bottom: 20px">Är du säker på att du vill ta bort "{{ ctrl.currentProduct.title }}"?</h2>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Stäng</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ctrl.deleteProduct()">Ta bort</button>
 		</div>
 	</div>
</div>
<!-- End of delete product modal -->

<!-- Download like-list modal -->
<div class="modal fade" id="modal-emaillist-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 20px">
			<h3 style="padding-bottom: 15px">
				<a href="{{ctrl.matentusServer}}/emaillists/emailList_{{ctrl.currentProduct.id}}.csv" download>Ladda ner CSV-fil</a>
			</h3>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Stäng</button>
 		</div> 
 	</div>
</div>
<!-- End of download like-list modal -->