
<div class="col-lg-12 default-div" id="admin_manage_product" > 

    
        <div 
		data-toggle="modal" 
  		data-target="#modal-add-category" 
  		class=" label-default" 
  		id="new-category">
            <i class="fa fa-plus-circle" aria-hidden="true"></i><p>Ny kategori</p>
        </div>
        <div class="col-lg-12">
        </div>
    <div class="col-lg-6">
	<table class="table">
		<thead>
			<tr>
				<th>Kategorinamn</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="category in ctrl.categories">
				<td>{{ category.title }}
				<td>
  				  	<p 
  				  		ng-click="ctrl.setCurrentCategory(category)"
  				  		data-toggle="modal" 
  				  		data-target="#modal-delete-category"
   				  		class="change"> 
  						<i class="fa fa-trash-o  fa-lg" aria-hidden="true"></i>
  					</p>  
  				  	<p 
  				  		ng-click="ctrl.setCurrentCategory(category)"
  				  		data-toggle="modal" 
  				  		data-target="#modal-update-category"
  				  		class="change">
  						<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
  					</p>
				</td>
			</tr>
		</tbody>
	</table>
        </div>
</div>

<!-- Add category modal -->
<div class="modal fade" id="modal-add-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 20px">
    	<form name="ctrl.form">
				<div class="form-group">
					<label 
						for="category-name" 
						class="control-label">
						Titel
					</label>
		    		<input  
						type="text"
						name="category-name" 
						id="category-name" 
						class="form-control" 
						ng-model="ctrl.currentCategory.title" 
						maxlength="30" 
						required 
					/>
				</div>
		        <button 
		        	type="button" 
		        	class="btn btn-primary" 
		        	data-dismiss="modal">
		        	Stäng
		        </button>
		        <button 
		        	type="button" 
		        	class="btn btn-warning" 
		        	data-dismiss="modal" 
		        	ng-disabled="ctrl.form.$invalid"
		        	ng-click="ctrl.addCategory()">
		        	Lägg till
		        </button>
	 		</div>
 		</form>
 	</div>
</div>
<!-- End of add category modal -->

<!-- Update category modal -->
<div class="modal fade" id="modal-update-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 20px">
    	<form name="ctrl.form">
				<div class="form-group">
					<label 
						for="category-name" 
						class="control-label">
						Titel
					</label>
		    		<input  
						type="text"
						name="category-name" 
						id="category-name" 
						class="form-control" 
						ng-model="ctrl.currentCategory.title" 
						maxlength="30" 
						required 
					/>
				</div>
		        <button 
		        	type="button" 
		        	class="btn btn-primary" 
		        	data-dismiss="modal">
		        	Stäng
		        </button>
		        <button 
		        	type="button" 
		        	class="btn btn-success" 
		        	data-dismiss="modal" 
		        	ng-disabled="ctrl.form.$invalid"
		        	ng-click="ctrl.updateCategory()">
		        	Redigera
		        </button>
	 		</div>
 		</form>
 	</div>
</div>
<!-- End of update category modal -->

<!-- Delete category modal -->
<div class="modal fade" id="modal-delete-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 20px">
    		<h2 style="margin-bottom: 20px">Är du säker på att du vill ta bort "{{ ctrl.currentCategory.title }}"?</h2>
	        <button 
	        	type="button" 
	        	class="btn btn-primary" 
	        	data-dismiss="modal">
	        	Stäng
	        </button>
	        <button 
	        	type="button" 
	        	class="btn btn-danger" 
	        	data-dismiss="modal" 
	        	ng-disabled="ctrl.form.$invalid"
	        	ng-click="ctrl.deleteCategory()">
	        	Ta bort
	        </button>
	 	</div>
 	</div>
</div>
<!-- End of delete category modal -->