<div class="btn-group btn-group-justified admin_btns" role="group" aria-label="...">

	<div class="btn-group" role="group">
		<button 
			ng-click ="ctrl.changeView(ctrl.manageSuggestionsView); ctrl.clearCurrentProduct();" 
			type="button" 
			class="col-xs-12 admin_btn btn btn-default"
			ng-class="{active: ctrl.currentView == ctrl.manageSuggestionsView}" 
			id="product_request_btn">
			Produktförfrågningar
		</button>
	</div>

<div class="btn-group" role="group">
	<button 
		ng-click = "ctrl.changeView(ctrl.addProductView); ctrl.clearCurrentProduct();" 
		type="button" 
		class="col-xs-12 admin_btn btn btn-default"
		ng-class="{active: ctrl.currentView == ctrl.addProductView}"  
		id="add_product_btn">
		Lägg till produkt
	</button>
</div>

<div class="btn-group" role="group">
	<button 
		ng-click ="ctrl.changeView(ctrl.manageProductsView); ctrl.clearCurrentProduct();" 
		type="button" 
		class="col-xs-12 admin_btn btn btn-default"
		ng-class="{active: ctrl.currentView == ctrl.manageProductsView}"
		id="manage_product_btn">
		Ändra produkt
	</button>
</div>

<div class="btn-group" role="group">
	<button 
		ng-click ="ctrl.changeView(ctrl.manageCategoriesView); ctrl.clearCurrentProduct();" 
		type="button" 
		class="col-xs-12 admin_btn btn btn-default"
		ng-class="{active: ctrl.currentView == ctrl.manageCategoriesView}"
		id="manage_cat_btn">
			Hantera kategorier
		</button>
	</div>
</div>

<div ng-include src="ctrl.currentView"></div>