<div ng-controller="LoginCtrl as ctrl" class="col-xs-12">

	<!--     Mobile Login    -->
	<script src="../scripts/styling/style.js"></script>

	<div class="row sign-in-mobile text-white" ng-show="!ctrl.isOnline">
		<!--p class="mx-auto sign-up-with text-right col-xs-5">Logga in med:</p-->
		<a id="sign-up-with" class="col-xs-10 p-8 m-10 bg-primary">
			Logga in med:
		</a>
		<a ng-click="ctrl.loginFacebook()" class="mx-auto btn btn-social-icon color-grey" >
			<i class="fa fa-facebook"></i>
		</a>
		<a ng-click="ctrl.loginGoogle()" class="mx-auto btn btn-social-icon m-20 color-grey">
			<i class="fa fa-google"></i>
		</a>
		<a data-toggle="modal" data-target="#modal-login-email" class="mx-auto btn btn-social-icon color-grey">
			<i class="fa fa-envelope"></i>
		</a>
	</div>
	
	<!-- Login form --> 
	<div id="email-form-div" class="row">
		<form id="email-form" name="ctrl.form" role="form">
			<div class="form-group">
                <label for="InputEmail">Name</label>
				<input 
				type="email" 
				ng-model="ctrl.loginForm.email" 
				class="form-control" id="InputEmail" 
				aria-describedby="emailHelp" 
				placeholder="Email"
				required>
			</div>
            <div class="form-group">
				<label for="InputEmail">Email </label>
				<input 
				type="email" 
				ng-model="ctrl.loginForm.email" 
				class="form-control" id="InputEmail" 
				aria-describedby="emailHelp" 
				placeholder="Email"
				required>
			</div>
			<div class="form-group">
				<label for="InputPassword">Lösenord</label>
				<input 
				type="password" 
				ng-model="ctrl.loginForm.password" 
				class="form-control" 
				id="InputPassword" 
				placeholder="Lösenord"
				required>
			</div>
			<div class="form-group">
				<button 
					type="submit" 
					class="btn btn-primary form-control" 
					ng-click="ctrl.loginLocal()">
					Logga In
				</button>
			</div>
		</form>
	</div>
	<!-- End of login form -->

	<div class="sign-in">
		<!--   Desktop Login   -->

	  <!--  <a class="btn btn-social-icon label-default">
	        <i class="fa fa-facebook-official" aria-hidden="true"></i>
	    </a>
	    <a class="btn btn-social-icon label-default">
	        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
	    </a>
	    <a class="btn btn-social-icon label-default">
	        <i class="fa fa-envelope-o" aria-hidden="true"></i>
	    </a>-->

	    <a ng-click="ctrl.loginFacebook()" class="btn btn-block btn-social label-default hover-social" id="facebook" ng-show="!ctrl.isOnline" >
	    	<i class="fa fa-facebook-official" aria-hidden="true"></i>Sign in with Facebook
	    </a>
	    <a ng-click="ctrl.loginGoogle()" class="btn btn-block btn-social label-default hover-social" id="google" ng-show="!ctrl.isOnline" >
	    	<i class="fa fa-google-plus-official" aria-hidden="true"></i>
	    	Sign in with Google
	    </a>
	    <a data-toggle="modal" data-target="#modal-login-email"  class="btn btn-block btn-social label-default hover-social" id="email" ng-show="!ctrl.isOnline" >
	    	<i class="fa fa-envelope-o" aria-hidden="true"></i>Sign in with Email
	    </a>
		<a onclick="location.href='/#!/;" class="btn btn-block btn-social label-default hover-social" id="loggedin" ng-show="ctrl.isOnline" >
	    	<i class="fa fa-user-o" aria-hidden="true"></i>Inloggad
	    </a>
		<a onclick="location.href='/#!/admin';" class="btn btn-block btn-social label-default hover-social" id="admin" ng-show="ctrl.isAdmin" >
	    	<i class="fa fa-cogs" aria-hidden="true"></i> Admin
	    </a>
		
	</div>

<!-- Login modal -->
<div class="modal fade" id="modal-login-email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
		<div id="email-form-div" class="row align-items-center">
			<form id="email-form" name="ctrl.form" role="form">
                <div class="form-group">
					<label for="InputName">Namn</label>
					<input 
					type="email" 
					ng-model="ctrl.loginForm.name" 
					class="form-control" id="InputName" 
					aria-describedby="nameHelp" 
					placeholder="Namn"
					required>
				</div>
				<div class="form-group">
					<label for="InputEmail">Email </label>
					<input 
					type="email" 
					ng-model="ctrl.loginForm.email" 
					class="form-control" id="InputEmail" 
					aria-describedby="emailHelp" 
					placeholder="Email"
					required>
				</div>
				<div class="form-group">
					<label for="InputPassword">Lösenord</label>
					<input 
					type="password" 
					ng-model="ctrl.loginForm.password" 
					class="form-control" 
					id="InputPassword" 
					placeholder="Lösenord"
					required>
				</div>
                <div class="form-group">
                    <label for="kommun">Kommun</label>
                    <select id="kommun" class="kommuner col-xs-12">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
				<div class="form-group">
					<button 
						type="submit" 
						class="btn btn-primary form-control" 
						ng-click="ctrl.loginLocal()">
						Logga In
					</button>
				</div>
			</form>
		</div>
 	</div>
</div>
<!-- End of login modal -->

</div>