

<div ng-controller="LoginCtrl as ctrl" class="sign_in">
        
  <!--  <a class="btn btn-social-icon label-default">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
    <a class="btn btn-social-icon label-default">
        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
    </a>
    <a class="btn btn-social-icon label-default">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>-->

  <a ng-click="ctrl.loginFacebook()" class="btn btn-block btn-social label-default hover-social" id="facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>Sign in with Facebook
  </a>
  <a ng-click="ctrl.loginGoogle()" class="btn btn-block btn-social label-default hover-social" id="google">
      <i class="fa fa-google-plus-official" aria-hidden="true"></i>
      Sign in with Google
  </a>
  <a ng-click="ctrl.loginLocal()" class="btn btn-block btn-social label-default hover-social" id="email">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>Sign in with Email
  </a>   

</div>