<div ng-controller="LoginCtrl as ctrl" class="col-xs-12">

	<!--     Mobile Login    -->
	<script src="../scripts/styling/style.js"></script>

	<div class="row sign-in-mobile text-white" ng-show="!ctrl.isOnline">
		<!--p class="mx-auto sign-up-with text-right col-xs-5">Logga in med:</p-->
		<a id="sign-up-with" class="col-xs-10 p-8 m-10 bg-primary">
			Logga in med:
		</a>
		<a ng-click="ctrl.loginFacebook()" class="mx-auto btn btn-social-icon color-grey" >
			<i class="fa fa-facebook"></i>
		</a>
		<a ng-click="ctrl.loginGoogle()" class="mx-auto btn btn-social-icon m-20 color-grey">
			<i class="fa fa-google"></i>
		</a>
		<a data-toggle="modal" data-target="#modal-login-email" class="mx-auto btn btn-social-icon color-grey">
			<i class="fa fa-envelope"></i>
		</a>
	</div>
	
	<!-- Login form --> 
	<div id="email-form-div" class="row">
		<form id="email-form" name="ctrl.form" role="form">
            <div class="form-group">
				<label for="InputEmail">Email</label>
				<input 
				type="email" 
				ng-model="ctrl.loginForm.email" 
				class="form-control" id="InputEmail" 
				aria-describedby="emailHelp" 
				placeholder="Email"
				required>
			</div>
			<div class="form-group">
				<label for="InputPassword">Lösenord</label>
				<input 
				type="password" 
				ng-model="ctrl.loginForm.password" 
				class="form-control" 
				id="InputPassword" 
				placeholder="Lösenord"
				required>
			</div>
			<div class="form-group">
				<button 
					type="submit" 
					class="btn btn-primary form-control" 
					ng-click="ctrl.loginLocal()">
					Logga In
				</button>
			</div>
		</form>
	</div>
	<!-- End of login form -->

	<div class="sign-in">
		<!--   Desktop Login   -->

	  <!--  <a class="btn btn-social-icon label-default">
	        <i class="fa fa-facebook-official" aria-hidden="true"></i>
	    </a>
	    <a class="btn btn-social-icon label-default">
	        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
	    </a>
	    <a class="btn btn-social-icon label-default">
	        <i class="fa fa-envelope-o" aria-hidden="true"></i>
	    </a>-->

	    <a ng-click="ctrl.loginFacebook()" class="btn btn-block btn-social label-default hover-social" id="facebook" ng-show="!ctrl.isOnline" >
	    	<i class="fa fa-facebook-official" aria-hidden="true"></i>Sign in with Facebook
	    </a>
	    <a ng-click="ctrl.loginGoogle()" class="btn btn-block btn-social label-default hover-social" id="google" ng-show="!ctrl.isOnline" >
	    	<i class="fa fa-google-plus-official" aria-hidden="true"></i>
	    	Sign in with Google
	    </a>
	    <a data-toggle="modal" data-target="#modal-login-email"  class="btn btn-block btn-social label-default hover-social" id="email" ng-show="!ctrl.isOnline" >
	    	<i class="fa fa-envelope-o" aria-hidden="true"></i>Sign in with Email
	    </a>
		<a ng-click="ctrl.getThisUser()" data-toggle="modal" data-target="#modal-userinfo" class="btn btn-block btn-social label-default hover-social" id="loggedin" ng-show="ctrl.isOnline" >
	    	<i class="fa fa-user-o" aria-hidden="true"></i>Inloggad
	    </a>
		<a href="#!/admin" class="btn btn-block btn-social label-default hover-social" id="admin" ng-show="ctrl.isAdmin" >
	    	<i class="fa fa-cogs" aria-hidden="true"></i>Admin
	    </a>

		
	</div>

<!-- Login modal -->
<div class="modal fade" id="modal-login-email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
		<div id="email-form-div" class="row align-items-center">
			<form 
				id="email-form" 
				name="ctrl.loginForm" 
				role="form"
				ng-submit="ctrl.loginLocal(ctrl.thisUser)"
				>
				<div class="form-group">
					<label for="InputEmail"></label>
					<input 
					type="email" 
					ng-model="ctrl.thisUser.email" 
					class="form-control" id="InputEmail" 
					aria-describedby="emailHelp" 
					placeholder="Email"
					required>
				</div>
				<div class="form-group">
					<label for="InputPassword"></label>
					<input 
					type="password" 
					ng-model="ctrl.thisUser.password" 
					class="form-control" 
					id="InputPassword" 
					placeholder="Lösenord"
					minlength="1" 
					required>
				</div>
				<div class="form-group">
					<button 
						type="submit" 
						class="btn btn-primary form-control">
						Logga In
					</button>
				</div>
            </form>
		</div>
 	</div>
</div>
<!-- End of login modal -->

<!-- Welcome modal -->
<div class="modal fade" id="modal-welcome" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
		<div id="email-form-div" class="row align-items-center">
			
		    <form 
		    	id="email-form" 
		    	name="ctrl.welcomeForm" 
		    	role="form"
		    	ng-submit="ctrl.welcomeForm.$valid && ctrl.updateUserInformation()"
		    	>

                <div class="form-group">
                    <h4 class="color-white" style= "font-size: 20px; font-weight: 100; margin-bottom: 18px;">Välkommen<br><span style="font-size: 16px; color: lightgray">Som medlem i Matentus kan du <span style="font-size: 16px; color: #fff">dela ditt intresse </span>för mat & dryck, samt ta del av</span><span style="font-size: 16px; color: #fff"> fantastiska erbjudanden!</span></h4>
				
					<input 
						name="name"
						type="text" 
						ng-model="ctrl.thisUser.name" 
						class="form-control col-xs-12" 
                        style="margin-bottom: 20px;"
						aria-describedby="nameHelp" 
						placeholder="Namn"
						required 
					>
				</div>
                <div class="form-group">
					<label 
						for="city">
						Kommun
					</label>
					<angucomplete-alt
						name="city"
						placeholder=""
						pause="100"
						selected-object="selected"
						ng-model="ctrl.thisUser.city"
						local-data="ctrl.cities"
						search-fields="name"
						title-field="name"
						minlength="2"
						input-class="form-control form-control-small"
						required
					/>
                </div>
				<div class="form-group">
                    <p class="color-white" style= "font-size: 10px; color: lightgrey; margin-bottom: 20px;">Fyll i namn och kommun för att ta del av just dina lokala och närproducerade produkter.</p>
					<button
						type="submit" 
						class="btn btn-primary form-control next">
						Nästa
					</button>
				</div>

			</form>

		</div>
 	</div>
</div>
<!-- End of welcome modal -->

<!-- User info modal -->
<div class="modal fade" id="modal-userinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 40px;">

    		<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
    		<h3>{{ ctrl.thisUser.name }}</h3>
    		<hr style="margin: 40px">

    		<i class="fa fa-home fa-2x" aria-hidden="true"></i>
    		<h3 ng-show="ctrl.thisUser.street">{{ ctrl.thisUser.street }}<br>{{ ctrl.thisUser.zipcode }}, {{ ctrl.thisUser.city }}</h3>
    		<h3 ng-hide="ctrl.thisUser.street">{{ ctrl.thisUser.city }}</h3>
    		<hr style="margin: 40px">

    		<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    		<h3>{{ ctrl.thisUser.email }}</h3>
    		<hr style="margin: 40px">

			<button type="button" 
	        		class="btn btn-warning" 
	        		data-dismiss="modal" 
	        		data-toggle="modal" 
	        		data-target="#modal-userupdate">
	        		Redigera
	        </button>
	        <button type="button" 
	        		class="btn btn-primary" 
	        		data-dismiss="modal">
	        		Stäng
	        </button>

 		</div>
 	</div>
</div>
<!-- End of user info modal -->

<!-- Update user info modal -->
<div class="modal fade" id="modal-userupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 40px;">

    		<form 
				name="ctrl.userForm" 
				ng-submit="ctrl.updateUserInformation()"
				data-toggle="validator" 
				role="form"> 

				<div class="form-group">
		    		<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
		    		<input  
		                type="text"
		                class="form-control" 
		                ng-model="ctrl.thisUser.name" 
		                placeholder="Namn" 
		                maxlength="30"
		                style="margin-top: 30px" 
		                required 
		            />
	            </div>
				<div class="form-group">
		    		<i class="fa fa-home fa-2x" aria-hidden="true"></i>
		    		<input  
		                type="text"
		                class="form-control" 
		                ng-model="ctrl.thisUser.street" 
		                placeholder="Gata" 
		                maxlength="255"
		                style="margin-top: 30px" 
		            />
		            <input  
		                type="text"
		                class="form-control" 
		                ng-model="ctrl.thisUser.zipcode" 
		                placeholder="Postnummer" 
		                maxlength="6"
		                style="margin-top: 30px" 
		            />
		            <input  
		                type="text"
		                class="form-control" 
		                ng-model="ctrl.thisUser.city" 
		                placeholder="Postort" 
		                maxlength="30"
		                style="margin-top: 30px" 
		                required 
		            />
		        </div>

		        <div class="form-group">
		    		<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
		    		<input  
		                type="email"
		                class="form-control" 
		                ng-model="ctrl.thisUser.email" 
		                placeholder="Email" 
		                maxlength="150"
		                style="margin-top: 30px" 
		                required 
		            />
		        </div>

					<button type="submit" 
			        		class="btn btn-success" 
			        		ng-disabled="ctrl.userForm.$invalid">
			        		Skicka
			        </button>
			        <button type="button" 
			        		class="btn btn-primary" 
			        		data-dismiss="modal">
			        		Stäng
			        </button>
			    

		     </form>

 		</div>
 	</div>
</div>
<!-- End of update user info modal -->