<div class="col-lg-6 col-lg-offset-1 admin_div" id="admin_categories">
        <a class="btn btn-block btn-social label-default" id="new_category">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>Ny kategori
        </a>
        <div>
            <form>
                <div class="cat_radio_choice">
                <label class="radio-inline radio_btn_categories" id="main_cat_choice">
                    <input type="radio" name="optradio"> Huvudkategori
                </label>       
                <label class="radio-inline radio_btn_categories" id="sub_cat_choice">
                    <input type="radio" name="optradio"> Subkategori
                </label>   
                    </div>
            </form>
            <div class="sub_cat_div">
                <div class="input-group">
                    <span class="input-group-addon">Titel</span>
                    <input id="sub_cat_title" type="text" class="form-control" name="sub_cat_title">
                </div>
                <div class="form-group" >
                    <select class="form-control" id="drop_cat">
                    <option selected= "true" disabled= "disabled">Välj huvudkategori</option>
                    <option>Mat</option>
                    <option>Kaffe</option>
                  </select>
                </div>
                <div class="sub_cat_save">
                    <button type="submit" class="btn btn-primary">Spara</button>
                </div>
            </div>
            <div class="main_cat_div">
                <div class="input-group">
                    <span class="input-group-addon">Titel</span>
                    <input id="main_cat_title" type="text" class="form-control" name="main_cat_title">
                </div>
                <div class="main_cat_save">
                    <button type="submit" class="btn btn-primary ">Spara</button>
                </div>
            </div>
        </div>
        
        <table class="table">
            <thead>
              <tr>
                <th>Kategorinamn</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                
              </tr>
            </tbody>
      </table>
    </div>