          <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                  <button type="button" class="col-xs-12 sort btn btn-default active">
                      Populära
                  </button>
              </div>
              <div class="btn-group" role="group">
                  <button type="button" class="col-xs-12 sort btn btn-default">
                      Senaste
                  </button>
              </div>
              <div class="btn-group" role="group">
                  <button type="button" class="col-xs-12 sort btn btn-default">
                      Vi Tipsar
                  </button>
              </div>
          </div>
      </div>