<div ng-controller="ProductCtrl as ctrl">
    <form class=" col-lg-10 col-lg-offset-1 admin_div" id="admin_add_product" data-toggle="validator" role="form"> 
        
        <div class="form-group col-lg-6">
    <label for="inputTitle" class="control-label">Produkttitel</label>
    <input type="text" class="form-control" ng-model="formData.title" id="inputTitle" placeholder="Titeln" required>
  </div>
    
     <div class="form-group col-lg-6">
    <label for="distributor">Leverantör</label>
    <input type="text" class="form-control" ng-model="formData.dist" id="distributor-input">
  </div>
    
  <div class="form-group col-lg-6">
    <label for="select-main-cat">Välj huvudkategori</label>
    <select class="form-control" ng-model="formData.maincat" id="select-main-cat">
      <option>huvudkategori 1</option>
      <option>huvudkategori 2</option>
      <option>huvudkategori 3</option>

    </select>
  </div>
    
      <div class="form-group col-lg-6">
    <label for="select-sub-cat">Välj subkategori</label>
    <select class="form-control" ng-model="formData.subcat" id="select-sub-cat">
      <option>subkategori 1</option>
      <option>subkategori 2</option>
      <option>subkategori 3</option>
      <option>subkategori 4</option>
      <option>subkategori 5</option>
    </select>
  </div>
        <div class="form-group col-lg-12">
    <label for="inputDescription" class="control-label">Produktbeskrivning</label>
      <textarea class="form-control" ng-model="formData.desc" rows="3" id="inputDescription" placeholder="Beskrivning..."></textarea>
  </div>
  <div class="form-group col-lg-4" id="image_upload">
    <label for="image-upload">Bilduppladdning</label>
    <input type="file" ng-model="formData.image" class="form-control-file" aria-describedby="fileHelp" onchange="readURL(this);">
    <small id="fileHelp" class="form-text text-muted">Bilden bör vara i måttet 180x180.</small>
      <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-click="ctrl.postProduct()">Ladda upp</button>
  </div>
  </div>
   
    </form>
</div>