<div ng-controller="ProductCtrl as ctrl">
  <form data-toggle="validator" role="form">
  <div class="form-group">
    <label for="inputTitle" class="control-label">Titel</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Titeln" required>
  </div>
  <div class="form-group">
    <label for="inputDescription" class="control-label">Beskrivning</label>
      <textarea class="form-control" rows="5" id="inputDescription" placeholder="Beskrivning..." required></textarea>
  </div>
  <div class="form-group">
    <label for="inputImage" class="control-label">Ladda upp bild</label>
      <input class="form-control" type="file" id="inputImage">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-click="ctrl.postProduct">Submit</button>
  </div>
</form>
</div>