<div ng-controller="ProductCtrl as ctrl">
    
        <div class="row">
            <!--a href="#menu_btn" class="btn btn-default" id="menu_btn"><span class="glyphicon glyphicon-menu-hamburger"></span></a-->
        </div>
        
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ ctrl.product.title }}
                    <small>{{Subheading}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://localhost:3000/images/{{ ctrl.product.image }}" alt="prod">
            </div>

            <div class="col-md-4">
                <h3>Beskrivning</h3>
                <p>{{ ctrl.product.description }} </p>

                <h3>Leverantör</h3>
                <p>{{ ctrl.product.supplier }}</p>
            </div>

        </div>
        <!-- /.row -->
       
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Relaterade produkter</h3>
            </div>

            <div ng-repeat="product in ctrl.products | filter: ctrl.filterRelated">
                <div ng-if="!(product.id == ctrl.id)" class="col-sm-3 col-xs-6">
                    <a href="#!/products/{{ product.id }}">
                        <img title="{{ product.keyword }}" class="img-responsive portfolio-item" src="http://localhost:3000/images/{{ product.image }}" alt="">
                        {{ product.title }}
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>
    
</div>

    