<div ng-controller="ProductCtrl as ctrl" >
   <div ng-if='ctrl.loggedIn' class="title-row">
        
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    {{ ctrl.product.title }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://localhost:3000/images/{{ ctrl.product.image }}" alt="prod">
            </div>

            <div class="col-md-4">
                <h3>Beskrivning</h3>
                <p>{{ ctrl.product.description }} </p>

                <h3>Leverantör</h3>
                <p>{{ ctrl.product.supplier }}</p>
            </div>

        </div>
        <!-- /.row -->
       
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Relaterade produkter</h3>
            </div>
         
            <div ng-repeat="product in ctrl.products | filter: ctrl.filterRelated" class="related-wrap">
                <div ng-if="!(product.id == ctrl.id)" class="col-xs-6 col-md-3 col-lg-3 portfolio-item-related">
                    <a href="#!/products/{{ product.id }}" id="related-a">
                        <img title="{{ product.keyword }}" class="related img-responsive" src="http://localhost:3000/images/{{ product.image }}" alt="">
                    </a>
                    <div class="img-label-related">
                        <h5 id="label-text-related"> {{ product.title }} </h5>
                    </div>
                    <div ng-click="ctrl.like(product.id)" class="heart-icon-related heart-icon">
                        <i class="fa fa-heart-o heart" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            </div>
        <!-- /.row -->
        <div ng-init="facebookshare()"
             class="fb-share-button" 
            data-href="http://www.google.se"
            data-layout="button_count">
        </div>
        <div id="fb-root"></div>
</div>
        <hr>
    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content text-center" style="border-radius: 0; padding: 20px">
	        <h2 style="margin-bottom: 20px">Du måste logga in!</h2>
            <button class="button btn btn-primary" onclick="location.href='/';" data-dismiss="modal">Stäng</button>

 		</div>
 	</div>
       
</div>
</div>

    