<!-- Products HTML | Has access to variables and functions in "scripts/controllers/products.js" -->

<div ng-controller="ProductsCtrl as ctrl">


 <!-- Categories button/dropdown old 

 <button ng-click="ctrl.toggleCategories()" id="kategori" type="button" class="navbar-toggle col-xs-12 sort btn btn-default col-xs-12" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
 {{ ctrl.categoryHeader }} <span class="glyphicon glyphicon-menu-down"></span>
 </button>


 <div ng-if="ctrl.shouldShowCategories" id="kat-div" class="kat-div col-xs-12 sort">
   <div ng-repeat="category in ctrl.categories">
     <h2 ng-click="ctrl.toggleSubCategories(category.id)"> {{ category.title }} </h2>
     <div ng-if="ctrl.currentCategoryId === category.id" ng-repeat="subcategory in ctrl.subCategories">
       <a href="#!/{{ category.title }}/{{ subcategory.title }}/{{ subcategory.id }}" ng-if="subcategory.category_id === category.id"> {{ subcategory.title }} </a>
     </div>
   </div>
</div> -->
<!-- Side menu -->
  <div ng-if="ctrl.shouldShowDropdown" class="col-xs-9 col-sm-5 col-lg-2" id="side-menu">
    <div class="col-xs-3 col-xs-offset-9 col-md-2 col-md-offset-10 col-lg-3 col-lg-offset-9 close-icon">
      <a href="#">
        <img ng-click="ctrl.toggleDropdown()" alt="#" src="../images/close.png" class="close col-xs-12" >
      </a>
    </div>
    <div>
      <ul class="categ-list side-content col-xs-12">
        <li>Test</li>
      </ul>
    </div>
  </div>
  <!-- End of side menu -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		<!-- Hamburger-->

		<ul class="nav navbar-nav col-lg-12 col-md-12 col-xs-12">
			<li class="active col-lg-3 col-md-3">
				<button ng-click="ctrl.toggleDropdown()" id="burger" type="button" class="navbar-toggle col-lg-3 col-md-3">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</li>
			<!-- Populärt -->

			<li class="col-lg-3 col-md-3">
				<a 
                        class="col-xs-12" 
                        ng-click="ctrl.orderBy('likeAmount')" type="button" 
                        ng-class="{active: ctrl.currentOrder == 'likeAmount'}">
                        Populärt
                </a>
			</li>

			<!-- Senaste -->

			<li class="col-lg-3 col-md-3">
				<a ng-click="ctrl.orderBy('created')" type="button" class="col-xs-12" ng-class="{active: ctrl.currentOrder == 'created'}">Senaste</a>
			</li>

			<!-- Kategorier -->

			<li ng-click="ctrl.toggleCategories()" class="dropdown col-lg-3 col-md-3">
				<a class="dropdown-toggle col-xs-12" data-toggle="dropdown">{{ ctrl.categoryHeader }}<span class="caret"></span></a>
				<ul ng-if="ctrl.shouldShowCategories" class="dropdown-menu col-lg-3 col-md-3">
					<li class="col-xs-12" ng-repeat="category in ctrl.categories"><a href="#!/{{ category.title }}"> {{ category.title }} </a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
    <!--
 <!-- Sort products by 

 <div class="btn-group btn-group-justified" role="group" aria-label="...">
   <div class="btn-group" role="group">
       <button ng-click="ctrl.orderBy('likeAmount')" type="button" class="col-xs-12 sort btn btn-default" ng-class="{active: ctrl.currentOrder == 'likeAmount'}">
           Populära
       </button>
   </div>
   <div class="btn-group" role="group">
       <button ng-click="ctrl.orderBy('created')" type="button" class="col-xs-12 sort btn btn-default" ng-class="{active: ctrl.currentOrder == 'created'}">
           Senaste
       </button>
   </div>
     
 <!-- Categories dropdown 
     
<div class="btn-group" role="group">
    <button ng-click="ctrl.toggleCategories()" class="navbar-toggle col-xs-12 sort btn btn-default col-xs-12" id="kategori" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    {{ ctrl.categoryHeader }} <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    
    <div ng-if="ctrl.shouldShowCategories" id="kat-div" class="kat-div col-xs-12 sort">
        <div ng-repeat="category in ctrl.categories">
       <a href="#!/{{ category.title }}"> {{ category.title }} </a>
     </div>
        </div>
    </div>
</div>
-->

<!-- Category and subcategory title -->

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<small></small>
		</h1>
	</div>
</div>


<!-- This is where all products are displayed -->

<div class="row">

	<div 
		ng-repeat="product in ctrl.products | orderBy: ctrl.currentOrder:true" 
		class="col-xs-12 col-s-12 col-md-6 col-lg-4 portfolio-item" >

		<a href="#!/products/{{ product.id }}">
			<img 
				title="Likes: {{product.likeAmount}}, Created: {{product.created}}, Rating: {{product.rating}}" 
				class="img-responsive" 
				src="http://localhost:3000/images/{{product.image}}" 
				alt="">
		</a>

		<div class="img-label">
			<h4 id="label-text"> {{ product.title }} </h4>
		</div>

		<div ng-click="ctrl.like()" class="heart-icon">
            <i class="fa fa-heart-o heart" aria-hidden="true"></i>
		</div>
        <!--<div>
        När liked ska denna visas   
            <i class="fa fa-heart heart" aria-hidden="true"></i>

        </div>-->


	</div>
</div>

</div>