<div class="col-lg-5 col-lg-offset-1 default_div" id="admin_request">
        <table class="table">
            
            <thead>
              <tr>
                <th>Produktnamn</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#"><div>Kaffe</div></a></td>
                
              </tr>
              <tr>
                <td><a href="#"><div>Te</div></a></td>
                
              </tr>
              <tr>
                <td><a href="#"><div>Lamm</div></a></td>
                
              </tr>
            </tbody>
      </table>
    </div>